POSTGRES_DB=fixtime
POSTGRES_USER=fixtime
POSTGRES_PASSWORD=fixtime
SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:5432/fixtime
SPRING_DATASOURCE_USERNAME=fixtime
SPRING_DATASOURCE_PASSWORD=fixtime
